# Day 1

### The `print` function

In [3]:
print(4.0)
print(4)
print(-21)
print(21.21)

4.0
4
-21
21.21

### Expressions
As it happens, every piece of code we’ve written so far is an expression, and there are many different types of expression in Python.

For example, all the integers we've written are expressions. When Python sees each integer, it can use the value they represent.

We're also about to see some simple arithmetic operations like 5 + 7, and those operations are expressions too. In the case of 5 + 7, when Python sees that, it evaluates the expression to another integer: 12.

When we write print(), that is also a type of expression called a *function call expression.*

Does that mean that print() has a value?

Yes, it does.

### Arithmetic Operators

In [6]:
print(1 + 2)
print(3.4 + 11)
print(2.0 * 3)

3
14.4
6.0

### Exercises
Now that we’ve been through the material for this post, here are a few exercises so that you can practice:

1. Print your age to the console.
2. Calculate and print the number of days, weeks, and months in 27 years. Don’t worry about leap years!
3. Calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.

In [7]:
print(33)

33

In [10]:
# Calculate and print the number of days, weeks, and months in 27 years. Don’t worry about leap years!
print(27 * 365)
print(27 * 52)
print(27 * 12)

9855
1404
324

In [1]:
# Calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.
print((22/7) * 5 * 5)

print((22/7) * pow(5,2))

78.57142857142857
78.57142857142857

# Day 2

### String Basics

In [3]:
print("Hello, world!")

Hello, world!

In [4]:
name = "Udit Pathak"
age = 32

In [6]:
GivenName

NameError: name 'GivenName' is not defined

### Getting values from the user

In [9]:
name = input("Please enter your name: ")

### Exercises
Now that we’ve covered how to use strings, variables, and the input function, it’s time to practice with some exercises.

1. Ask the user for their name and age, assign theses values to two variables, and then print them.
2. Investigate what happens when you try to assign a value to a variable that you’ve already defined. Try printing the variable before and after you reuse the name.
3. Below you’ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. I’d encourage you to try running the program while you’re working on it, as reading the error messages is great practice for debugging your own programs.

```
{
    hourly_wage = input("Please enter your hourly wage: ')

    prnt("Hourly wage: ")
    print(hourlywage)
    print("Hours worked: ")
    print(hours_worked)

    hours_worked = input("How many hours did you work this week? ")

}
```

In [10]:
# Ask the user for their name and age, assign theses values to two variables, and then print them.
name = input("Enter your name: ")
age = input("Enter your age: ")

In [11]:
print(name + ', ' + age)

Udit, 32

In [13]:
# Investigate what happens when you try to assign a value to a variable that you’ve already defined. Try printing the variable before and after you reuse the name.
age = 45
print(age)

45

In [ ]:
'''
Below you’ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. I’d encourage you to try running the program while you’re working on it, as reading the error messages is great practice for debugging your own programs.
hourly_wage = input("Please enter your hourly wage: ')

print("Hourly wage: ")
print(hourlywage)
print("Hours worked: ")
print(hours_worked)

hours_worked = input("How many hours did you work this week? ")
'''

In [14]:
hourly_wage = input("Please enter your hourly wage: ')

SyntaxError: unterminated string literal (detected at line 1) (1149776034.py, line 1)

In [15]:
prnt("Hourly wage: ")

NameError: name 'prnt' is not defined

In [16]:
print(hourlywage)

NameError: name 'hourlywage' is not defined

In [17]:
print("Hours worked: ")

Hours worked:

In [18]:
hours_worked = input("How many hours did you work this week? ")

# Day 3

### String Concatenation

In [20]:
hourly_wage = input("Please enter your hourly wage: ")
hours_worked = input("How many hours did you work this week? ")

print("Hourly wage: " + hourly_wage)
print("Hours worked: " + hours_worked)

Hourly wage: 10000
Hours worked: 100

### Converting strings, integers, and floats

In [22]:
age = str(32)
print(age)

32

In [24]:
age = int("28")
print(age)

28

In [25]:
hourly_wage = int("118.25")

ValueError: invalid literal for int() with base 10: '118.25'

In [26]:
# Instead of int, we’d need to call float here instead:
hourly_wage = float("118.19")
print(hourly_wage)

118.19

### String interpolation with the `format` method

In [27]:
# When using the format method, the placeholders for our values are curly braces, which look like this: {}. 
# For example, let’s say we want to write a string like:

"John is 24 years old."
"{} is {} years old"

'{} is {} years old'

In [28]:
"{} is {} years old".format("John", 24)

'John is 24 years old'

In [29]:
"John is 24 years old, and John works as a web developer"

'John is 24 years old, and John works as a web developer'

In [30]:
output = "{} is {} years old, and {} works as a {}."
print(output.format("John", 24, "John", "web developer"))

John is 24 years old, and John works as a web developer.

In [33]:
name = "John"
age = 24
position = "web developer"
output = "{} is {} years old, and {} works as a {}."
print(output.format("John", 24, "John", "web developer")) # method 1

print(output.format(name, age, name, position)) # method 2

output = "{0} is {1} years old, and {0} works as a {2}."
print(output.format("John", 24, "web developer")) # method3

output = "{name} is {age} years old, and {name} works as a {position}."
print(output.format(name = "John", age = 24, position = "web developer")) # method4

John is 24 years old, and John works as a web developer.
John is 24 years old, and John works as a web developer.
John is 24 years old, and John works as a web developer.
John is 24 years old, and John works as a web developer.

### String interpolation with f-strings

In [ ]:
name = "John"
age = 24
"{} is {} years old!".format(name, age)

'John is 24 years old!'

In [ ]:
# using f-strings
f"{name} is {age} years old!" # also an expression

'John is 24 years old!'

In [40]:
print(f"{name} is {age * 12} months old!")

John is 288 months old!

### Basic String Processing

In [50]:
print("Hello world!!".capitalize())
print("Hello world!!".lower())
print("Hello world!!".upper())
print("Hello world!!".title())
print("Hello world!!   ".strip())
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")

Hello world!!
hello world!!
HELLO WORLD!!
Hello World!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!

### Exercises
1. Using the variable below, print `"Hello, world!".`

`greeting = "Hello, world"`

You can add the missing exclamation mark using string concatenation, format, or f-strings. The choice is yours.

2. Ask the user for their name, and then greet the user, using their name as part of the greeting. The name should be in title case, and shouldn't be surrounded by any excess white space.

For example, if the user enters `"lewis "`, your output should be something like this:

`Hello, Lewis!`

3. Concatenate the string `"I am "` and the integer `29` to produce a string which reads 

`"I am 29".`

Remember that we can only concatenate strings to other strings, so you will have to convert the integer to a string before you can perform the concatenation.

4. Format and print the information below using string interpolation:

`title = "Joker"`

`director = "Todd Phillips"`

`release_year = 2019`

The output should look like this:

`Joker (2019), directed by Todd Phillips`

You can add the missing exclamation mark using string concatenation, format, or f-strings. The choice is yours.

https://teclado.com/30-days-of-python/python-30-day-3-string-formatting/

In [53]:
# 1
greeting = "Hello, world"
print(f"{greeting}!")

Hello, world!

In [54]:
# 2
name = input("Please enter your name: ")
print(f"Hello, {name.strip().title()}!")

Hello, Udit Pathak Kumar Shashwat!

In [57]:
# 3
print(f"I am {str(29)}.")

I am 29.

In [59]:
# 4
title = "Joker"
director = "Todd Phillips"
release_year = 2019

print(f"{title} ({release_year}), directed by {director}") # Joker (2019), directed by Todd Phillips

Joker (2019), directed by Todd Phillips

### A Simple Earnings Calculator
#### The brief
Our application should work as follows:

The user should be given three prompts where they'll be asked to provide different information about an employee. 

One prompt should ask for the employee's name, another should ask for their hourly wage, and the final one should ask how many hours the employee worked this week.

The employee name should be processed to ensure that it's in a particular format. 
All employee names should be stripped of any excess white space, and should be in title case. 

This means that each word is capitalised with all other letters being lowercase. For example, if the employer accidentally has caps lock on and they write `"rEGINA gEORGE"`, the name will still be correctly stored as `"Regina George"`.

The employee's total earnings for the week should be calculated by multiplying the hours worked by their hourly wage.

Remember that any user input we receive is going to be a string. While we can multiply strings, it won't quite do what you want in this case. It's also worth keeping in mind that the employee's wage, or the numbers of hours they worked, might not be a whole number.

After processing the employee's name and calculating their earnings for the week, the program should output this information as a single string. For example, output like this would be appropriate:

`Regina George earned $800 this week.`

In [65]:
employee_name = input("Please enter your name: ")
hourly_wages = input("Please enter your wages per hour? ")
worked_hours = input("Please enter how many hours you worked: ")

print(f"{employee_name.strip().title()} earned ${(float(hourly_wages)*float(worked_hours)):.2f} this week.")

Udit earned $50000.00 this week.

# Day 4

### Basic Python Collections

#### List

In [87]:
names = ["Ayush", "Udit", "Urvija", "Suryansh", "Dinesh"]

In [88]:
movies = [
    "Saiyaara",
    "Tu Jhooti Main Makkar",
    "Ye Saali Zindagi",
    "The Secret Life of Jajantaram Mamantaram"
]

In [89]:
ayushi_details = [
    "Shukla Pathak", 
    "Udit Pathak", 
    29, 
    "Vendor Consultant", 
    [
        "Singing", 
        "Daancing", 
        "Cooking"
        ]
]

In [90]:
print(ayushi_details)

print(names[0], ayushi_details[0])

print(names[-1])

['Shukla Pathak', 'Udit Pathak', 29, 'Vendor Consultant', ['Singing', 'Daancing', 'Cooking']]
Ayush Shukla Pathak
Dinesh

In [91]:
names.append("Kuttu")

In [92]:
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh', 'Kuttu']

In [93]:
names = names + ["Muttu"]

In [94]:
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh', 'Kuttu', 'Muttu']

In [95]:
num = [1, 2, 4, 5]
num.insert(2, 3)
print(num)

[1, 2, 3, 4, 5]

In [97]:
names.remove("Kuttu")
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh', 'Muttu']

In [98]:
del names[-1]
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh']

In [99]:
names.pop()
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh']

In [100]:
last_name = names.pop()
print(last_name)
print(names)

Suryansh
['Ayush', 'Udit', 'Urvija']

#### Tuple

In [ ]:
# 3 tuples in a list where each tuple has two items
movies = [
    ("Saiyaara", 2025),
    ("Maalik", 2025),
    ("Mela", 2000)
]

In [103]:
# access
print(movies[0])
print(movies[0][0])

('Saiyaara', 2025)
Saiyaara

### Exercises

1. Create a `movies` list containing a single tuple. The tuple should contain a movie title, the director’s name, the release year of the movie, and the movie’s budget.

2. Use the `input` function to gather information about another movie. You need a title, director’s name, release year, and budget.

3. Create a new tuple from the values you gathered using `input`. Make sure they’re in the same order as the tuple you wrote in the `movies` list.

4. Use an **f-string** to print the movie name and release year by accessing your new movie tuple.

5. Add the new movie tuple to the `movies` collection using `append`.

6. Print both movies in the `movies` collection.

7. Remove the first movie from `movies`. Use any method you like.

In [ ]:
# 1
movies = [
    (
        "Saiyaara", 
        "Mohit Suri", 
        2025, 
        "50 Crores"
    )
]
print(f"1. List of movies created: {movies}\n")

# 2
movie_name = input("Enter name of a movie:")
movie_director_name = input("Enter director's name for the movie:")
movie_release_year = input("Enter release year of the movie:")
movie_budget = input("Enter budget of movie:")
print(f"2. New movie input done\n")

# 3
new_movie = (movie_name, movie_director_name, movie_release_year, movie_budget)
print(f"3. New movie Tuple: new_movie: {new_movie}\n")

# 4
print(f"{new_movie[0]}, {new_movie[2]}\n")
print("4. printed movie name and release year\n")

# 5
movies.append(new_movie)
print(f"5. List of movies updated: {movies}\n")

# 6
print(f"{movies[0][0]}, \n{movies[1][0]}\n")
print(f"6. Movie names printed\n")

# 7
del movies[0] # or movies.pop(0) ro movies.remove(movies[0])

print(f"7. List of movies after deletion: {movies}\n")

1. List of movies created: [('Saiyaara', 'Mohit Suri', 2025, '50 Crores')]

2. New movie input done

3. New movie Tuple: new_movie: ('Ppagla', 'Udit Pathak', '2.15', '250000 Crore')

Ppagla, 2.15

4. printed movie name and release year

5. List of movies updated: [('Saiyaara', 'Mohit Suri', 2025, '50 Crores'), ('Ppagla', 'Udit Pathak', '2.15', '250000 Crore')]

Saiyaara,
Ppagla

6. Movie names printed

7. List of movies after deletion: [('Ppagla', 'Udit Pathak', '2.15', '250000 Crore')]

# Day 5

### Conditionals & Booleans

In [2]:
print(bool(0))
print(bool(1))
print(bool("Udit"))
print(bool([]))
print(bool(''))

False
True
True
False
False

In [3]:
print(bool(5 > 10))
print(bool(5 >= 5))
print(bool(-2 > -100))
print(bool("A" > "a"))
print(bool(5.0 > 3.25))

False
True
True
False
True

In [4]:
print(0 == "0")                # False
print(0 == 0)                  # True
print(7 == 7.0)                # True
print("Hello" == "Hello!")     # False
print([1, 2, 3] == [1, 2, 3])  # True

False
True
True
False
True

In [5]:
print(0 != "0")         # True
print(0 != 0)           # False
print("Hello" != "Hi")  # True

True
False
True

In [6]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  # True
print(a is b)  # False

True
False

In [7]:
a = [1, 2, 3]
b = [1, 2, 3]

print(id(a))  # 139806639351360
print(id(b))  # 139806638418944

print(a == b)  # True
print(a is b)  # False

2719462468224
2719463952640
True
False

In [8]:
a = [1, 2, 3]
b = a

print(id(a))  # 139685763327296
print(id(b))  # 139685763327296

print(a == b)  # True
print(a is b)  # True

2719463791104
2719463791104
True
True

In [ ]:
# Comparison operators are always lower priority than arithmetic operators.
# For example, if we write an expression like this:
5 + 4 < 3 * 2
(5 + 4) < (3 * 2)
9 < 6  # False

### Conditional Statements

In [13]:
age = int(input("How old are you? "))
if age < 18:
    print("Sorry, we can't serve you")
else:
    chosen_drink = input("What can I get for you? ")

In [14]:
# elif

age = int(input("How old are you? "))
if age < 16:
    print("You are eligible for a child rate of 80p.")
elif age >=60:
    print("You are eligible for OAP rate of $1.")
else:
    print("You must pay the standard rate of $1.5.")

You must pay the standard rate of $1.5.

In [16]:
name = input("Please enter your name: ")

if name: # checks the truth value of name by calling bool
    print(f"Your entered name: {name}")
else:
    print("You did not type anything.")

You did not type anything.

### Exercises

1) Try to approximate the behaviour of the `is` operator using `==`. Remember we have the `id` function for finding the memory address for a given value, and we can compare memory addresses to check for identity.

2) Try to use the `is` operator or the `id` function to investigate the difference between this:

    `numbers = [1, 2, 3, 4]`
    `new_numbers = numbers + [5]`

    And this:

    `numbers = [1, 2, 3, 4]`
    `numbers.append(5)`

    Are `new_numbers` and `numbers` the same thing? What about numbers before and after we append `5`?

3) Ask the user to enter a number. Tell the user whether the number is positive, negative, or zero.

4) Write a program to determine whether an employee is owed any overtime. You should ask the user how many hours the employee worked this week, as well as the hourly wage for this employee.

In [17]:
# 1
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l3 = l1

print(f"Is list l1 equal to list l2? {bool(l1 == l2)}")
print(f"Whether list l1 is list l2? {bool(l1 is l2)}")

print(f"Is list l1 equal to list l3? {bool(l1 == l3)}")
print(f"Whether list l1 is list l3? {bool(l1 is l3)}")

Is list l1 equal to list l2? True
Whether list l1 is list l2? False
Is list l1 equal to list l3? True
Whether list l1 is list l3? True

In [28]:
# 2
numbers = [1, 2, 3, 4]
new_numbers = numbers + [5]
print(f"Checking if numbers and new_numbers is same: {id(numbers)} is {id(new_numbers)} : {bool(id(numbers) is id(new_numbers) )}")

Checking if numbers and new_numbers is same: 2719462779456 is 2719464026112 : False

In [33]:
numbers = [1, 2, 3, 4]
new_numbers2 = numbers
numbers.append(5)
print(f"Checking if numbers and new_numbers2 is same: {id(numbers)} is {id(new_numbers2)} : {bool(numbers is new_numbers2)}")

Checking if numbers and new_numbers2 is same: 2719470959168 is 2719470959168 : True

In [38]:
# 3
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [49]:
# 4. we need to determine whether or not the employee worked more than 40 hours this week. 
# If they did, we need to pay them 110% of their hourly wage for any hours worked over the 40 hours.

employee = input("Please enter your name: ")
hourly_wage = float(input("Enter your hourly wage: "))
hours_worked = float(input("How many hours did your work this week: "))

if hours_worked > 40:
    print(f"{employee.title().strip()} worked {hours_worked} hours. Overtime owed is: ${((hourly_wage * 1.1)*(hours_worked - 40)):.2f}")
else:
    print(f"{employee.title().strip()} worked {hours_worked} hours. No overtime owed.")

Udit Pathak worked 120.0 hours. Overtime owed is: $880000.00

In [51]:
# 4. we need to determine whether or not the employee worked more than 40 hours this week. 
# If they did, we need to pay them 110% of their hourly wage for any hours worked over the 40 hours.

employee = input("Please enter your name: ")
hourly_wage = float(input("Enter your hourly wage: "))
hours_worked = float(input("How many hours did your work this week: "))
regular_pay = 40 * hourly_wage
overtime_pay = (hours_worked - 40) * (hourly_wage * 1.1)

if hours_worked > 40:
    print(f"{employee.title().strip()}'s regular pay is: {regular_pay:.2f} and overtime due is: {overtime_pay:.2f}")

else:
    print(f"{employee.title().strip()}'s regular pay is: {regular_pay:.2f} and no overtime pay.")

Paras's regular pay is: 40000.00 and no overtime pay.

# Day 6

### Loops

In [53]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

for movie in movies:
      print(f"{movie[0]} ({movie[2]}), by {movie[1]}")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
Memento (2000), by Christopher Nolan
Requiem for a Dream (2000), by Darren Aronofsky

In [54]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

for movie in movies:
      # Check the title of the current movie is Memento
      if movie[0] == "Memento":
            # If the title is Memento, inform the user that the movie exists and break the loop
            print("Memento is in the movie library!")
            break

Memento is in the movie library!

In [ ]:
range(10)
range(3, 10)
range(0, 10, 2)   # 0, 2, 4, 6, 8
range(10, 0, -1)  # 10, 9, 8, 7, 6, 5, 4, 3, 2, 1

range(10, 0, -1)

In [ ]:
# `range`` is an iterable, which means we can use it in for loops. 
# It also means we can convert it to a list or tuple if we want to.
numbers = list(range(10))             # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
immutable_numbers = tuple(range(10))  # (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Iterating over a raange
for i in range(1,11):
    print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# use `underscore` as the loop variable when we don't need to reference it inside the loop
for _ in range(10):
    print("Hello!")

### Exercises

1) Below we've provided a list of tuples, where each tuple contains details about an employee of a shop: their name, the number of hours worked last week, and their hourly rate. Print how much each employee is due to be paid at the end of the week in a nice, readable format.

```
employees = [
    ("Rolf Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15.50),
    ("Bob Smith", 20, 7.00)
]
```

2) For the employees above, print out those who are earning an hourly wage above average.

Hint: you can use a for loop and two variables to keep track of the total wage and the number of employees. Then, use the two variables to calculate the average. Finally, add another loop that goes through the employees list again and prints out only those who have an hourly wage above the calculated average.

In [62]:
# 1
employees = [
    ("Rolf Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15.50),
    ("Bob Smith", 20, 7.00)
]

for i in employees:
    wage_due = i[1] * i[2]
    print(f"{i[0]} is due ${wage_due:.2f} for last week's work.")

Rolf Smith is due $306.25 for last week's work.
Anne Pun is due $375.00 for last week's work.
Charlie Lee is due $775.00 for last week's work.
Bob Smith is due $140.00 for last week's work.

In [71]:
# 2
count = 0
total_hourly_wage = 0
for j in employees:
    total_hourly_wage = j[2] + total_hourly_wage
    count = count + 1

avg_hourly_wage = total_hourly_wage / count
print(f"We have a total of {count} employees and the average hourly wage is: {avg_hourly_wage:.2f}")

for k in employees:
    if k[2] > avg_hourly_wage:
        print(f"{k[0]}'s hourly wage is above average")

We have a total of 4 employees and the average hourly wage is: 10.94
Anne Pun's hourly wage is above average
Charlie Lee's hourly wage is above average

### Project - Fizz Buzz

In case you're not familiar with the game, it goes like this:

One player starts by saying the number 1.

Each player then takes it in turns to say the next number, counting one at a time.

If the number is divisible by 3, instead of saying the number, the player should say, "Fizz".

If the number is divisible by 5, instead of saying the number, the player should say, "Buzz".

If the number is divisible by 3 and 5, instead of saying the number, the player should say, "Fizz Buzz".

If you make a mistake, you're usually eliminated from the game, and the game continues until there's only a single player remaining.

#### Brief

For our version, we're only going to have a single player, the computer, and it's going to play the first 100 rounds of Fizz Buzz all by itself. In other words, we need to print out the first 100 items in the sequence, starting from 1.

In order to complete this exercise, you're going to need to use loops, and you can generate your list of numbers using range. You're also going to need conditionals, and you're going to need be able to check if something is divisible by 3 or 5.

In [79]:
for i in range(1,101):
    if (i % 3 == 0):
        if (i % 5 == 0):
            print("Fizz Buzz")
        else:
            print("Fizz")
    elif (i % 5 == 0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Day 7: split, join, and Slices