# Day 1

### The `print` function

In [ ]:
print(4.0)
print(4)
print(-21)
print(21.21)

4.0
4
-21
21.21

### Expressions
As it happens, every piece of code we’ve written so far is an expression, and there are many different types of expression in Python.

For example, all the integers we've written are expressions. When Python sees each integer, it can use the value they represent.

We're also about to see some simple arithmetic operations like 5 + 7, and those operations are expressions too. In the case of 5 + 7, when Python sees that, it evaluates the expression to another integer: 12.

When we write print(), that is also a type of expression called a *function call expression.*

Does that mean that print() has a value?

Yes, it does.

### Arithmetic Operators

In [ ]:
print(1 + 2)
print(3.4 + 11)
print(2.0 * 3)

3
14.4
6.0

### Exercises
Now that we’ve been through the material for this post, here are a few exercises so that you can practice:

1. Print your age to the console.
2. Calculate and print the number of days, weeks, and months in 27 years. Don’t worry about leap years!
3. Calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.

In [ ]:
print(33)

33

In [ ]:
# Calculate and print the number of days, weeks, and months in 27 years. Don’t worry about leap years!
print(27 * 365)
print(27 * 52)
print(27 * 12)

9855
1404
324

In [ ]:
# Calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.
print((22/7) * 5 * 5)

print((22/7) * pow(5,2))

78.57142857142857
78.57142857142857

# Day 2

### String Basics

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
name = "Udit Pathak"
age = 32

In [ ]:
GivenName

NameError: name 'GivenName' is not defined

### Getting values from the user

In [ ]:
name = input("Please enter your name: ")

### Exercises
Now that we’ve covered how to use strings, variables, and the input function, it’s time to practice with some exercises.

1. Ask the user for their name and age, assign theses values to two variables, and then print them.
2. Investigate what happens when you try to assign a value to a variable that you’ve already defined. Try printing the variable before and after you reuse the name.
3. Below you’ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. I’d encourage you to try running the program while you’re working on it, as reading the error messages is great practice for debugging your own programs.

```
{
    hourly_wage = input("Please enter your hourly wage: ')

    prnt("Hourly wage: ")
    print(hourlywage)
    print("Hours worked: ")
    print(hours_worked)

    hours_worked = input("How many hours did you work this week? ")

}
```

In [ ]:
# Ask the user for their name and age, assign theses values to two variables, and then print them.
name = input("Enter your name: ")
age = input("Enter your age: ")

In [ ]:
print(name + ', ' + age)

Udit, 32

In [ ]:
# Investigate what happens when you try to assign a value to a variable that you’ve already defined. Try printing the variable before and after you reuse the name.
age = 45
print(age)

45

In [ ]:
'''
Below you’ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. I’d encourage you to try running the program while you’re working on it, as reading the error messages is great practice for debugging your own programs.
hourly_wage = input("Please enter your hourly wage: ')

print("Hourly wage: ")
print(hourlywage)
print("Hours worked: ")
print(hours_worked)

hours_worked = input("How many hours did you work this week? ")
'''

In [ ]:
hourly_wage = input("Please enter your hourly wage: ')

SyntaxError: unterminated string literal (detected at line 1) (1149776034.py, line 1)

In [ ]:
prnt("Hourly wage: ")

NameError: name 'prnt' is not defined

In [ ]:
print(hourlywage)

NameError: name 'hourlywage' is not defined

In [ ]:
print("Hours worked: ")

Hours worked:

In [ ]:
hours_worked = input("How many hours did you work this week? ")

# Day 3

### String Concatenation

In [ ]:
hourly_wage = input("Please enter your hourly wage: ")
hours_worked = input("How many hours did you work this week? ")

print("Hourly wage: " + hourly_wage)
print("Hours worked: " + hours_worked)

Hourly wage: 10000
Hours worked: 100

### Converting strings, integers, and floats

In [ ]:
age = str(32)
print(age)

32

In [ ]:
age = int("28")
print(age)

28

In [ ]:
hourly_wage = int("118.25")

ValueError: invalid literal for int() with base 10: '118.25'

In [ ]:
# Instead of int, we’d need to call float here instead:
hourly_wage = float("118.19")
print(hourly_wage)

118.19

### String interpolation with the `format` method

In [ ]:
# When using the format method, the placeholders for our values are curly braces, which look like this: {}.
# For example, let’s say we want to write a string like:

"John is 24 years old."
"{} is {} years old"

'{} is {} years old'

In [ ]:
"{} is {} years old".format("John", 24)

'John is 24 years old'

In [ ]:
"John is 24 years old, and John works as a web developer"

'John is 24 years old, and John works as a web developer'

In [ ]:
output = "{} is {} years old, and {} works as a {}."
print(output.format("John", 24, "John", "web developer"))

John is 24 years old, and John works as a web developer.

In [ ]:
name = "John"
age = 24
position = "web developer"
output = "{} is {} years old, and {} works as a {}."
print(output.format("John", 24, "John", "web developer")) # method 1

print(output.format(name, age, name, position)) # method 2

output = "{0} is {1} years old, and {0} works as a {2}."
print(output.format("John", 24, "web developer")) # method3

output = "{name} is {age} years old, and {name} works as a {position}."
print(output.format(name = "John", age = 24, position = "web developer")) # method4

John is 24 years old, and John works as a web developer.
John is 24 years old, and John works as a web developer.
John is 24 years old, and John works as a web developer.
John is 24 years old, and John works as a web developer.

### String interpolation with f-strings

In [ ]:
name = "John"
age = 24
"{} is {} years old!".format(name, age)

'John is 24 years old!'

In [ ]:
# using f-strings
f"{name} is {age} years old!" # also an expression

'John is 24 years old!'

In [ ]:
print(f"{name} is {age * 12} months old!")

John is 288 months old!

### Basic String Processing

In [ ]:
print("Hello world!!".capitalize())
print("Hello world!!".lower())
print("Hello world!!".upper())
print("Hello world!!".title())
print("Hello world!!   ".strip())
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")
print("Hello world!!")

Hello world!!
hello world!!
HELLO WORLD!!
Hello World!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!

### Exercises
1. Using the variable below, print `"Hello, world!".`

`greeting = "Hello, world"`

You can add the missing exclamation mark using string concatenation, format, or f-strings. The choice is yours.

2. Ask the user for their name, and then greet the user, using their name as part of the greeting. The name should be in title case, and shouldn't be surrounded by any excess white space.

For example, if the user enters `"lewis "`, your output should be something like this:

`Hello, Lewis!`

3. Concatenate the string `"I am "` and the integer `29` to produce a string which reads

`"I am 29".`

Remember that we can only concatenate strings to other strings, so you will have to convert the integer to a string before you can perform the concatenation.

4. Format and print the information below using string interpolation:

`title = "Joker"`

`director = "Todd Phillips"`

`release_year = 2019`

The output should look like this:

`Joker (2019), directed by Todd Phillips`

You can add the missing exclamation mark using string concatenation, format, or f-strings. The choice is yours.

https://teclado.com/30-days-of-python/python-30-day-3-string-formatting/

In [ ]:
# 1
greeting = "Hello, world"
print(f"{greeting}!")

Hello, world!

In [ ]:
# 2
name = input("Please enter your name: ")
print(f"Hello, {name.strip().title()}!")

Hello, Udit Pathak Kumar Shashwat!

In [ ]:
# 3
print(f"I am {str(29)}.")

I am 29.

In [ ]:
# 4
title = "Joker"
director = "Todd Phillips"
release_year = 2019

print(f"{title} ({release_year}), directed by {director}") # Joker (2019), directed by Todd Phillips

Joker (2019), directed by Todd Phillips

### A Simple Earnings Calculator
#### The brief
Our application should work as follows:

The user should be given three prompts where they'll be asked to provide different information about an employee.

One prompt should ask for the employee's name, another should ask for their hourly wage, and the final one should ask how many hours the employee worked this week.

The employee name should be processed to ensure that it's in a particular format.
All employee names should be stripped of any excess white space, and should be in title case.

This means that each word is capitalised with all other letters being lowercase. For example, if the employer accidentally has caps lock on and they write `"rEGINA gEORGE"`, the name will still be correctly stored as `"Regina George"`.

The employee's total earnings for the week should be calculated by multiplying the hours worked by their hourly wage.

Remember that any user input we receive is going to be a string. While we can multiply strings, it won't quite do what you want in this case. It's also worth keeping in mind that the employee's wage, or the numbers of hours they worked, might not be a whole number.

After processing the employee's name and calculating their earnings for the week, the program should output this information as a single string. For example, output like this would be appropriate:

`Regina George earned $800 this week.`

In [ ]:
employee_name = input("Please enter your name: ")
hourly_wages = input("Please enter your wages per hour? ")
worked_hours = input("Please enter how many hours you worked: ")

print(f"{employee_name.strip().title()} earned ${(float(hourly_wages)*float(worked_hours)):.2f} this week.")

Udit earned $50000.00 this week.

# Day 4

### Basic Python Collections

#### List

In [ ]:
names = ["Ayush", "Udit", "Urvija", "Suryansh", "Dinesh"]

In [ ]:
movies = [
    "Saiyaara",
    "Tu Jhooti Main Makkar",
    "Ye Saali Zindagi",
    "The Secret Life of Jajantaram Mamantaram"
]

In [ ]:
ayushi_details = [
    "Shukla Pathak",
    "Udit Pathak",
    29,
    "Vendor Consultant",
    [
        "Singing",
        "Daancing",
        "Cooking"
        ]
]

In [ ]:
print(ayushi_details)

print(names[0], ayushi_details[0])

print(names[-1])

['Shukla Pathak', 'Udit Pathak', 29, 'Vendor Consultant', ['Singing', 'Daancing', 'Cooking']]
Ayush Shukla Pathak
Dinesh

In [ ]:
names.append("Kuttu")

In [ ]:
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh', 'Kuttu']

In [ ]:
names = names + ["Muttu"]

In [ ]:
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh', 'Kuttu', 'Muttu']

In [ ]:
num = [1, 2, 4, 5]
num.insert(2, 3)
print(num)

[1, 2, 3, 4, 5]

In [ ]:
names.remove("Kuttu")
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh', 'Muttu']

In [ ]:
del names[-1]
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh', 'Dinesh']

In [ ]:
names.pop()
print(names)

['Ayush', 'Udit', 'Urvija', 'Suryansh']

In [ ]:
last_name = names.pop()
print(last_name)
print(names)

Suryansh
['Ayush', 'Udit', 'Urvija']

#### Tuple

In [ ]:
# 3 tuples in a list where each tuple has two items
movies = [
    ("Saiyaara", 2025),
    ("Maalik", 2025),
    ("Mela", 2000)
]

In [ ]:
# access
print(movies[0])
print(movies[0][0])

('Saiyaara', 2025)
Saiyaara

### Exercises

1. Create a `movies` list containing a single tuple. The tuple should contain a movie title, the director’s name, the release year of the movie, and the movie’s budget.

2. Use the `input` function to gather information about another movie. You need a title, director’s name, release year, and budget.

3. Create a new tuple from the values you gathered using `input`. Make sure they’re in the same order as the tuple you wrote in the `movies` list.

4. Use an **f-string** to print the movie name and release year by accessing your new movie tuple.

5. Add the new movie tuple to the `movies` collection using `append`.

6. Print both movies in the `movies` collection.

7. Remove the first movie from `movies`. Use any method you like.

In [ ]:
# 1
movies = [
    (
        "Saiyaara",
        "Mohit Suri",
        2025,
        "50 Crores"
    )
]
print(f"1. List of movies created: {movies}\n")

# 2
movie_name = input("Enter name of a movie:")
movie_director_name = input("Enter director's name for the movie:")
movie_release_year = input("Enter release year of the movie:")
movie_budget = input("Enter budget of movie:")
print(f"2. New movie input done\n")

# 3
new_movie = (movie_name, movie_director_name, movie_release_year, movie_budget)
print(f"3. New movie Tuple: new_movie: {new_movie}\n")

# 4
print(f"{new_movie[0]}, {new_movie[2]}\n")
print("4. printed movie name and release year\n")

# 5
movies.append(new_movie)
print(f"5. List of movies updated: {movies}\n")

# 6
print(f"{movies[0][0]}, \n{movies[1][0]}\n")
print(f"6. Movie names printed\n")

# 7
del movies[0] # or movies.pop(0) ro movies.remove(movies[0])

print(f"7. List of movies after deletion: {movies}\n")

1. List of movies created: [('Saiyaara', 'Mohit Suri', 2025, '50 Crores')]

2. New movie input done

3. New movie Tuple: new_movie: ('Ppagla', 'Udit Pathak', '2.15', '250000 Crore')

Ppagla, 2.15

4. printed movie name and release year

5. List of movies updated: [('Saiyaara', 'Mohit Suri', 2025, '50 Crores'), ('Ppagla', 'Udit Pathak', '2.15', '250000 Crore')]

Saiyaara,
Ppagla

6. Movie names printed

7. List of movies after deletion: [('Ppagla', 'Udit Pathak', '2.15', '250000 Crore')]

# Day 5

### Conditionals & Booleans

In [ ]:
print(bool(0))
print(bool(1))
print(bool("Udit"))
print(bool([]))
print(bool(''))

False
True
True
False
False

In [ ]:
print(bool(5 > 10))
print(bool(5 >= 5))
print(bool(-2 > -100))
print(bool("A" > "a"))
print(bool(5.0 > 3.25))

False
True
True
False
True

In [ ]:
print(0 == "0")                # False
print(0 == 0)                  # True
print(7 == 7.0)                # True
print("Hello" == "Hello!")     # False
print([1, 2, 3] == [1, 2, 3])  # True

False
True
True
False
True

In [ ]:
print(0 != "0")         # True
print(0 != 0)           # False
print("Hello" != "Hi")  # True

True
False
True

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  # True
print(a is b)  # False

True
False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(id(a))  # 139806639351360
print(id(b))  # 139806638418944

print(a == b)  # True
print(a is b)  # False

2719462468224
2719463952640
True
False

In [ ]:
a = [1, 2, 3]
b = a

print(id(a))  # 139685763327296
print(id(b))  # 139685763327296

print(a == b)  # True
print(a is b)  # True

2719463791104
2719463791104
True
True

In [ ]:
# Comparison operators are always lower priority than arithmetic operators.
# For example, if we write an expression like this:
5 + 4 < 3 * 2
(5 + 4) < (3 * 2)
9 < 6  # False

### Conditional Statements

In [ ]:
age = int(input("How old are you? "))
if age < 18:
    print("Sorry, we can't serve you")
else:
    chosen_drink = input("What can I get for you? ")

In [ ]:
# elif

age = int(input("How old are you? "))
if age < 16:
    print("You are eligible for a child rate of 80p.")
elif age >=60:
    print("You are eligible for OAP rate of $1.")
else:
    print("You must pay the standard rate of $1.5.")

You must pay the standard rate of $1.5.

In [ ]:
name = input("Please enter your name: ")

if name: # checks the truth value of name by calling bool
    print(f"Your entered name: {name}")
else:
    print("You did not type anything.")

You did not type anything.

### Exercises

1) Try to approximate the behaviour of the `is` operator using `==`. Remember we have the `id` function for finding the memory address for a given value, and we can compare memory addresses to check for identity.

2) Try to use the `is` operator or the `id` function to investigate the difference between this:

    `numbers = [1, 2, 3, 4]`
    `new_numbers = numbers + [5]`

    And this:

    `numbers = [1, 2, 3, 4]`
    `numbers.append(5)`

    Are `new_numbers` and `numbers` the same thing? What about numbers before and after we append `5`?

3) Ask the user to enter a number. Tell the user whether the number is positive, negative, or zero.

4) Write a program to determine whether an employee is owed any overtime. You should ask the user how many hours the employee worked this week, as well as the hourly wage for this employee.

In [ ]:
# 1
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l3 = l1

print(f"Is list l1 equal to list l2? {bool(l1 == l2)}")
print(f"Whether list l1 is list l2? {bool(l1 is l2)}")

print(f"Is list l1 equal to list l3? {bool(l1 == l3)}")
print(f"Whether list l1 is list l3? {bool(l1 is l3)}")

Is list l1 equal to list l2? True
Whether list l1 is list l2? False
Is list l1 equal to list l3? True
Whether list l1 is list l3? True

In [ ]:
# 2
numbers = [1, 2, 3, 4]
new_numbers = numbers + [5]
print(f"Checking if numbers and new_numbers is same: {id(numbers)} is {id(new_numbers)} : {bool(id(numbers) is id(new_numbers) )}")

Checking if numbers and new_numbers is same: 2719462779456 is 2719464026112 : False

In [ ]:
numbers = [1, 2, 3, 4]
new_numbers2 = numbers
numbers.append(5)
print(f"Checking if numbers and new_numbers2 is same: {id(numbers)} is {id(new_numbers2)} : {bool(numbers is new_numbers2)}")

Checking if numbers and new_numbers2 is same: 2719470959168 is 2719470959168 : True

In [ ]:
# 3
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [ ]:
# 4. we need to determine whether or not the employee worked more than 40 hours this week.
# If they did, we need to pay them 110% of their hourly wage for any hours worked over the 40 hours.

employee = input("Please enter your name: ")
hourly_wage = float(input("Enter your hourly wage: "))
hours_worked = float(input("How many hours did your work this week: "))

if hours_worked > 40:
    print(f"{employee.title().strip()} worked {hours_worked} hours. Overtime owed is: ${((hourly_wage * 1.1)*(hours_worked - 40)):.2f}")
else:
    print(f"{employee.title().strip()} worked {hours_worked} hours. No overtime owed.")

Udit Pathak worked 120.0 hours. Overtime owed is: $880000.00

In [ ]:
# 4. we need to determine whether or not the employee worked more than 40 hours this week.
# If they did, we need to pay them 110% of their hourly wage for any hours worked over the 40 hours.

employee = input("Please enter your name: ")
hourly_wage = float(input("Enter your hourly wage: "))
hours_worked = float(input("How many hours did your work this week: "))
regular_pay = 40 * hourly_wage
overtime_pay = (hours_worked - 40) * (hourly_wage * 1.1)

if hours_worked > 40:
    print(f"{employee.title().strip()}'s regular pay is: {regular_pay:.2f} and overtime due is: {overtime_pay:.2f}")

else:
    print(f"{employee.title().strip()}'s regular pay is: {regular_pay:.2f} and no overtime pay.")

Paras's regular pay is: 40000.00 and no overtime pay.

# Day 6

### Loops

In [ ]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

for movie in movies:
      print(f"{movie[0]} ({movie[2]}), by {movie[1]}")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
Memento (2000), by Christopher Nolan
Requiem for a Dream (2000), by Darren Aronofsky

In [ ]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

for movie in movies:
      # Check the title of the current movie is Memento
      if movie[0] == "Memento":
            # If the title is Memento, inform the user that the movie exists and break the loop
            print("Memento is in the movie library!")
            break

Memento is in the movie library!

In [ ]:
range(10)
range(3, 10)
range(0, 10, 2)   # 0, 2, 4, 6, 8
range(10, 0, -1)  # 10, 9, 8, 7, 6, 5, 4, 3, 2, 1

range(10, 0, -1)

In [ ]:
# `range`` is an iterable, which means we can use it in for loops.
# It also means we can convert it to a list or tuple if we want to.
numbers = list(range(10))             # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
immutable_numbers = tuple(range(10))  # (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Iterating over a raange
for i in range(1,11):
    print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# use `underscore` as the loop variable when we don't need to reference it inside the loop
for _ in range(10):
    print("Hello!")

### Exercises

1) Below we've provided a list of tuples, where each tuple contains details about an employee of a shop: their name, the number of hours worked last week, and their hourly rate. Print how much each employee is due to be paid at the end of the week in a nice, readable format.

```
employees = [
    ("Rolf Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15.50),
    ("Bob Smith", 20, 7.00)
]
```

2) For the employees above, print out those who are earning an hourly wage above average.

Hint: you can use a for loop and two variables to keep track of the total wage and the number of employees. Then, use the two variables to calculate the average. Finally, add another loop that goes through the employees list again and prints out only those who have an hourly wage above the calculated average.

In [ ]:
# 1
employees = [
    ("Rolf Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15.50),
    ("Bob Smith", 20, 7.00)
]

for i in employees:
    wage_due = i[1] * i[2]
    print(f"{i[0]} is due ${wage_due:.2f} for last week's work.")

Rolf Smith is due $306.25 for last week's work.
Anne Pun is due $375.00 for last week's work.
Charlie Lee is due $775.00 for last week's work.
Bob Smith is due $140.00 for last week's work.

In [ ]:
# 2
count = 0
total_hourly_wage = 0
for j in employees:
    total_hourly_wage = j[2] + total_hourly_wage
    count = count + 1

avg_hourly_wage = total_hourly_wage / count
print(f"We have a total of {count} employees and the average hourly wage is: {avg_hourly_wage:.2f}")

for k in employees:
    if k[2] > avg_hourly_wage:
        print(f"{k[0]}'s hourly wage is above average")

We have a total of 4 employees and the average hourly wage is: 10.94
Anne Pun's hourly wage is above average
Charlie Lee's hourly wage is above average

### Project - Fizz Buzz

In case you're not familiar with the game, it goes like this:

One player starts by saying the number 1.

Each player then takes it in turns to say the next number, counting one at a time.

If the number is divisible by 3, instead of saying the number, the player should say, "Fizz".

If the number is divisible by 5, instead of saying the number, the player should say, "Buzz".

If the number is divisible by 3 and 5, instead of saying the number, the player should say, "Fizz Buzz".

If you make a mistake, you're usually eliminated from the game, and the game continues until there's only a single player remaining.

#### Brief

For our version, we're only going to have a single player, the computer, and it's going to play the first 100 rounds of Fizz Buzz all by itself. In other words, we need to print out the first 100 items in the sequence, starting from 1.

In order to complete this exercise, you're going to need to use loops, and you can generate your list of numbers using range. You're also going to need conditionals, and you're going to need be able to check if something is divisible by 3 or 5.

In [ ]:
for i in range(1,101):
    if (i % 3 == 0):
        if (i % 5 == 0):
            print("Fizz Buzz")
        else:
            print("Fizz")
    elif (i % 5 == 0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Day 7: split, join, and Slices

### Converting tuples and lists to strings

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers = str(numbers)
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# We call join on a string, and that string is what we want to place between the items in the collection we want to glue together.

authors = ["Dinesh", "Udit", "Urvija"]
authors = ", ".join(authors)

print(authors)

Dinesh, Udit, Urvija

In [ ]:
num_in = input("Enter a series of number seperated by a comma: ")
num_in_list = num_in.split(",")
print(num_in)
print(num_in_list)

1,2,3,4,5,33,6,5,
['1', '2', '3', '4', '5', '33', '6', '5', '']

In [ ]:
# What we get back from split is a list,
# but we can always create another type of collection by passing the result to tuple.

user_numbers = input("Please enter 5 numbers separated by dashes: ") # 1-2-3-4-5
numbers_tuple = tuple(user_numbers.split("-"))

print(numbers_tuple) # ['1', '2', '3', '4', '5']

('1', '2', '2', '304')

In [ ]:
# Stripping through spaces in the numbers in input

user_numbers = input("Please enter 5 numbers separated by commas: ") # 1, 2, 3, 4, 5
user_numbers = user_numbers.split(",")

numbers_list = []

for number in user_numbers:
    numbers_list.append(number.strip())

print(numbers_list) # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

If we don’t specify a separator sequence for split, it’s going to split based on any length of whitespace. This is quite handy, because we know that whatever we get back, we’re not going to have to bother stripping it.

In [ ]:
# We don’t always need to call split.
# If we just want to put every character as a different item in a list or tuple,
# we can just pass the string to the list or tuple function instead:

sample_str = "Python"
print(list(sample_str))
print(tuple(sample_str))

['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [ ]:
# Newline character

print("Super Special Mega Awesome Program\nBy Phillip Best")

Super Special Mega Awesome Program
By Phillip Best

In [ ]:
# Slicing
original_string = "abcdefghijklmnopqrstuvwxyz"

print(f"From front: {original_string[0:13]}")
print(f"From middle: {original_string[13:]}")
print(f"From middle to last excluding last: {original_string[13:-1]}")
print(f"Last char: {original_string[-1]}")
print(f"Upto last eight: {original_string[0:-8]}")
print(f"13rd char to 1 st char in reverse: {original_string[13:1:-1]}")
print(f"Reverse string: {original_string[::-1]}")
print(f"Middle char: {original_string[12:-12]}")

From front: abcdefghijklm
From middle: nopqrstuvwxyz
From middle to last excluding last: nopqrstuvwxy
Last char: z
Upto last eight: abcdefghijklmnopqr
13rd char to 1 st char in reverse: nmlkjihgfedc
Reverse string: zyxwvutsrqponmlkjihgfedcba
Middle char: mn

In [ ]:
# The len() function
alphabet = "abcdefghijklmnopqrstuvwxyz"

print(f"length of string: {len(alphabet)}")

length of string: 26

### Exercises

1) Ask the user to enter their given name and surname in response to a single prompt. Use split to extract the names, and then assign each name to a different variable. For this exercise, you can assume that the user has a single given name and a single surname.

2) Print the list, `[1, 2, 3, 4, 5]`, in the format `1 | 2 | 3 | 4 | 5` using the `join` method. Remember that you can only join collections of strings, so you’re going to need to do some initial processing of the list of numbers.

3) Below you’ll find a short list of quotes:

```
 quotes = [
    "'What a waste my life would be without all the beautiful mistakes I've made.'",
    "'A bend in the road is not the end of the road... Unless you fail to make the turn.'",
    "'The very essence of romance is uncertainty.'",
    "'We are not here to do what has already been done.'"
 ]
```

Each quote is a string, but each string actually contains quote characters at the start and end. Using slicing, extract the text from each string, without these extra quote marks, and print each quote.

You may also want to try a solution using strip.

4) Ask the user to enter a word, and then print out the length of the word. You should account for any excess whitespace in the user’s input, so you’re going to have to process the string before you find its length.

If you want to take this a little bit further, you an ask the user for a long piece of text. You can then tell them how many how many characters are in the text overall, and you can also provide them a word count.

In [ ]:
# 1
username = input("Please input your given name and surname: ")
firstname = username.split()[0]
lastname = username.split()[1]
print(f"First name: {firstname} \nLast Name: {lastname} ")

First name: Udit
Last Name: Pathak

In [ ]:
# 2
'''list1 = [1, 2, 3, 4, 5]
string1 = (str(i) for i in list1)
new_list1 = " | ".join(string1)
print(string1)
print(new_list1) '''
list1 = [1, 2, 3, 4, 5]
list2 = []
for i in range(0,len(list1)):
    list2.append(str(list1[i]))
print(list2)
print(" | ".join(list2))

['1', '2', '3', '4', '5']
1 | 2 | 3 | 4 | 5

In [ ]:
# 3
quotes = [
    "'What a waste my life would be without all the beautiful mistakes I've made.'",
    "'A bend in the road is not the end of the road... Unless you fail to make the turn.'",
    "'The very essence of romance is uncertainty.'",
    "'We are not here to do what has already been done.'"
 ]
for quote in quotes:
    print(quote[1:-1])

What a waste my life would be without all the beautiful mistakes I've made.
A bend in the road is not the end of the road... Unless you fail to make the turn.
The very essence of romance is uncertainty.
We are not here to do what has already been done.

In [ ]:
# 4
word = input("Enter word: ")
word_length = 0
for w in word:
    if w != ' ':
        word_length += 1
    else:
        pass
print(word)
print(word_length)

stupiderstedt
13

In [ ]:
# 4
sentence = input("Please enter a sentence for word count and character count: ")
stripped = sentence.strip()
word_count = 0
for c in range(1,(len(stripped)-1)):
    if (stripped[c] == " ") & (stripped[c-1].isalpha()):
        print(f"loop: {c}")
        word_count += 1
        print(f"Word counter: {word_count}")
    elif (stripped[c] == ",") & (stripped[c-1].isalpha()):
        print(f"loop: {c}")
        word_count += 1
        print(f"Word counter: {word_count}")
    elif (stripped[c] == ".") & (stripped[c-1].isalpha()):
        print(f"loop: {c}")
        word_count += 1
        print(f"Word counter: {word_count}")
    else:
        pass
# print(sentence[-1])
print(f"length of string: {len(sentence)}")
print(f"Word count: {(word_count)}")

In [ ]:
# 4
sentence = input("Please enter a sentence for word count and character count: ")
stripped = sentence.strip()
word_count = 0
for c in range(1,(len(stripped))):
    if ((stripped[c] == " ") | (stripped[c] == ".") | (stripped[c] == ",") | (stripped[c] == ":") | (stripped[c] == "-") | (stripped[c] == "_")):
        if (stripped[c-1].isalpha()):
            print(f"loop: {c}")
            word_count += 1
            print(f"Word counter: {word_count}")
    else:
        pass
print(sentence)
print(sentence[(len(stripped))-1])
print(f"length of string: {len(sentence)}")
print(f"Word count: {(word_count)}")

### The Brief:

For this project, your program should do the following:

1. Calculate the average budget of all movies in the data set.
2. Print out every movie that has a budget higher than the average you calculated. You should also print out how much higher than the average the movie's budget was.
3. Print out how many movies spent more than the average you calculated.

If you want a little extra challenge, allow users to add more movies to the data set before running the calculations.

In [ ]:
# Project
movies = [
    ("Eternal Sunshine of the Spotless Mind", 20000000),
    ("Memento", 9000000),
    ("Requiem for a Dream", 4500000),
    ("Pirates of the Caribbean: On Stranger Tides", 379000000),
    ("Avengers: Age of Ultron", 365000000),
    ("Avengers: Endgame", 356000000),
    ("Incredibles 2", 200000000)
]

movie_input_decision = input("Do you want to add more movies to the existing list? Yes or No :: ")
if (movie_input_decision == "Yes") | (movie_input_decision == "yes"):
    print(f"\nYour entered: Yes")
    new_movie_count = int(input("\nHow many movies do you want to add? "))
    for _ in range(new_movie_count):
        new_movie_name = input("\nEnter the name of your movie: ")
        new_movie_budget = int(input("\nEnter the budget of your movie: "))
        new_movie = (new_movie_name, new_movie_budget)
        movies.append(new_movie)
    print(f"\nMoving to calculations: ")
else:
    print(f"\nYour entered: {movie_input_decision} \nMoving to calculations. ")

print(f"\nNew movie list is:\n{movies}")
budget_total = 0
for movie in movies:
    budget_total += movie[1]

avg_budget = budget_total/(len(movies))
print(f"\nAverage budget: {avg_budget}")

counter = 0
for m in movies:
    if m[1] > avg_budget:
        print(m[0])
        counter += 1

print(f"Number of movies that spent more than the average: {counter}")

Your entered:
Moving to calculations.
Average budget: 190500000.0
Pirates of the Caribbean: On Stranger Tides
Avengers: Age of Ultron
Avengers: Endgame
Incredibles 2
Number of movies that spent more than the average: 4

# Day 8

### While loops

`for` loops are great for two kinds of repeated actions:

1. When we want to do something for each item in some group.

2. When we want to do something a set number of times.

There are, however, other kinds of repetition we might want to perform. For example, what if we want to perform an action as many times as needed until some condition is met? What about if we want to perform some action over and over again forever?

For this kind of repeated action, we can use a `while` loop instead.

In [ ]:
# For example, we can write a while loop which is going to run until the user enters a value of 10 or higher.
user_number = input("Please enter a number: ")

while int(user_number) < 10:
    print("Your number was less than 10.")
    user_number = input("Please select another number: ")

print("Your number was at least 10.")

Your number was at least 10.

In [ ]:
while True:
    selected_option = input("Please enter 'a', 'b', or 'c', or enter 'q' to quit: ")

    if selected_option == "a":
        print("You selected option 'a'!")
    elif selected_option == "b":
        print("You selected option 'b'!")
    elif selected_option == "c":
        print("You selected option 'c'!")
    elif selected_option == "q":
        print("You selected option 'q'! Quitting the menu!")
        break
    else:
        print("You selected an invalid option.")

You selected option 'b'!
You selected option 'a'!
You selected option 'c'!
You selected option 'q'! Quitting the menu!

In [ ]:
# For example, let's write a loop to determine whether or not a number is prime.
# A prime number is a number divisible only by itself and 1.
# For example, 2, 3, 5, 7, 11, and 13 are prime numbers.

# Get a number to test from the user
dividend = int(input("Please enter a number: "))

# Grab numbers one at a time from the range sequence
for divisor in range(2, dividend):
    # If user's number is divisible by the curent divisor, break the loop
    if dividend % divisor == 0:
        print(f"{dividend} is not prime!")
        break
else:
    # This line only runs if no divisors produced integer results
    print(f"{dividend} is prime!")

12 is not prime!

In [ ]:
# Get a number to test from the user, and set the initial divisor to 2
dividend = int(input("Please enter a number: "))
divisor = 2

# Keep looping until the divisor equals the number we're testing
while divisor < dividend:
    # If user's number is divisible by the curent divisor, break the loop
    if dividend % divisor == 0:
        print(f"{dividend} is not prime!")
        break

    # Increment the divisor for the next iteration
    divisor = divisor + 1
else:
    # This line only runs if no divisors produced integer results
    print(f"{dividend} is prime!")

21 is not prime!

### Exercises
Congratulations on completing the first week!

Hopefully this wasn't too difficult, but if you're having trouble with some of the concepts, the exercises below should help solidify everything. If you get stuck, we're always around to help on our Discord server, so feel free to drop by and ask any questions.

1) Write a short guessing game program using a while loop. The user should be prompted to guess a number between 1 and 100, and you should tell them whether their guess was too high or too low after each guess. The loop should keeping running until the user guesses the number correctly.

2) Use a loop and the continue keyword to print out every character in the string "Python", except the "o".

Remember that strings are collections, and they are iterable, so you can iterate over the string, which will yield one character at a time.

3) Using one of the examples from earlier—or a solution entirely of your own—create a program that prints out every prime number between 1 and 100.

In [ ]:
# 1 Guessing Game
import random

random_number = random.randint(1,100)
print(random_number)
while True:
    guess = int(input("Guess a number between 1 and 100: "))
    if guess > random_number:
        print("Guess is higher.")
    elif guess < random_number:
        print("Guess is lower.")
    else:
        print("Your guesses correctly!")
        break

82
Guess is lower.
Guess is lower.
Guess is lower.
Guess is higher.
Guess is lower.
Guess is higher.
Your guesses correctly!

In [ ]:
# 2
for c in "Python":
    if c != 'o':
        print(c, end=" ")
    else:
        continue

P y t h n

In [ ]:
# 3

for num in range(2,100):
    is_prime = True
    for i in range(2,int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Day 8

### Unpacking, Enumeration, and the zip Function

In [ ]:
# I have a movie record, which is a tuple, and it contains the movie title, the director's name, and the year of release.
# What I would like to do, is assign this tuple's values to three variables: title, director, and year.
movie = ("12 Angry Men", "Sidney Lumet", 1957)

title = movie[0]
director = movie[1]
year = movie[2]

In [ ]:
movie = ("12 Angry Men", "Sidney Lumet", 1957)

title, director, year = movie

#### Unpacking in for loops

In [ ]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

for title, director, year in movies:
    print(f"{title} ({year}), by {director}")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
Memento (2000), by Christopher Nolan
Requiem for a Dream (2000), by Darren Aronofsky

#### Enumeration

In [ ]:
'''
I want an output like this
1. Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
2. Memento (2000), by Christopher Nolan
3. Requiem for a Dream (2000), by Darren Aronofsky
'''

# 1 method
counter = 1

for title, director, year in movies:
    print(f"{counter}. {title} ({year}), by {director}")
    counter += 1

`enumerate` is a built in function that generates a counter alongside the values in an iterable. What we end up with is a series of tuples, where the first item in each tuple is the counter, and the second value is the original item from the iterable.

In [ ]:
names = ["Harry", "Rachel", "Brian"]

for counter, name in enumerate(names):
    print(f"{counter}. {name}")

0. Harry
1. Rachel
2. Brian

In [ ]:
names = ["Harry", "Rachel", "Brian"]

for counter, name in enumerate(names, start=1):
    print(f"{counter}. {name}")

1. Harry
2. Rachel
3. Brian

In [ ]:
# movies = [...]

for counter, movie in enumerate(movies, start=1):
    print(f"{counter}. {movie[0]} ({movie[2]}), by {movie[1]}")

1. Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
2. Memento (2000), by Christopher Nolan
3. Requiem for a Dream (2000), by Darren Aronofsky

In [ ]:
# movies = [...]

for counter, (title, director, year) in enumerate(movies, start=1):
    print(f"{counter}. {title} ({year}), by {director}")

1. Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry
2. Memento (2000), by Christopher Nolan
3. Requiem for a Dream (2000), by Darren Aronofsky

#### The `zip` function

zip is an extremely powerful and versatile function used to combined two or more iterables into a single iterable.

In [ ]:
pet_owners = ["Paul", "Andrea", "Marta"]
pets = ["Fluffy", "Bubbles", "Captain Catsworth"]

# zip will allow us to turn this into a new iterable which contains the following:
# ("Paul", "Fluffy"), ("Andrea", "Bubbles"), ("Marta", "Captain Catsworth")

In [ ]:
pet_owners = ["Paul", "Andrea", "Marta"]
pets = ["Fluffy", "Bubbles", "Captain Catsworth"]

pets_and_owners = zip(pet_owners, pets)
print(list(pets_and_owners))

[('Paul', 'Fluffy'), ('Andrea', 'Bubbles'), ('Marta', 'Captain Catsworth')]

In [ ]:
# Using zip in loops

pet_owners = ["Paul", "Andrea", "Marta"]
pets = ["Fluffy", "Bubbles", "Captain Catsworth"]

for owner, pet in zip(pet_owners, pets):
    print(f"{owner} owns {pet}.")

Paul owns Fluffy.
Andrea owns Bubbles.
Marta owns Captain Catsworth.

### Exericses

1) Below is some simple data about characters from BoJack Horseman:

```
main_characters = [
    ("BoJack Horseman", "Will Arnett", "Horse"),
    ("Princess Carolyn", "Amy Sedaris", "Cat"),
    ("Diane Nguyen", "Alison Brie", "Human"),
    ("Mr. Peanutbutter", "Paul F. Tompkins", "Dog"),
    ("Todd Chavez", "Aaron Paul", "Human")
]
```

The data contains the character name, the voice actor or actress who plays them, and the species of the character.

Write a for loop that uses destructuring so that you can print each tuple in the following format:

`BoJack Horseman is a horse voiced by Will Arnet.`

Note that you're going to have to change the species information to lowercase when you print it. If you need a reminder on how to do this, we covered it in day 3 of the first week.

2) Unpack the following tuple into 4 variables:

`("John Smith", 11743, ("Computer Science", "Mathematics"))`

The data represents a student's name, their student id number, and their major and minor disciplines in that order.

3) Investigate what happens when you try to zip two iterables of different lengths. For example, try to zip a list containing three items, and a tuples containing four items.

In [ ]:
# 1
main_characters = [
    ("BoJack Horseman", "Will Arnett", "Horse"),
    ("Princess Carolyn", "Amy Sedaris", "Cat"),
    ("Diane Nguyen", "Alison Brie", "Human"),
    ("Mr. Peanutbutter", "Paul F. Tompkins", "Dog"),
    ("Todd Chavez", "Aaron Paul", "Human")
]
for name, actor, species in main_characters:
    print(f"{name} is a {species.lower()} voiced by {actor}")

BoJack Horseman is a horse voiced by Will Arnett
Princess Carolyn is a cat voiced by Amy Sedaris
Diane Nguyen is a human voiced by Alison Brie
Mr. Peanutbutter is a dog voiced by Paul F. Tompkins
Todd Chavez is a human voiced by Aaron Paul

In [ ]:
# 2
info = ("John Smith", 11743, ("Computer Science", "Mathematics"))
name, id, (major, minor) = info
print(f"{name}, {id}, {major}, {minor}")

John Smith, 11743, Computer Science, Mathematics

In [ ]:
# 3
# Investigate what happens when you try to zip two iterables of different lengths.
# For example, try to zip a list containing three items, and a tuples containing four items.
l1 = [1,2,3,4,5]
t1 = ('a','b','c','d')
print(list(zip(l1,t1)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

### Project

#### The brief
The program you write for this project should do the following:

1) It should be able to accept a card number from the user. For this project, you can assume that the number will be entered as a single string of characters (i.e. there won't be any spaces between the numbers). However, you should be able to accept a card number with spaces at the start or end of the string.

If you want to challenge yourself, you should try to be more versatile with regards to the format that you accept card numbers in.

You may want to turn the user's input into a list of numbers, as that will make it easier to work with.

2) The program should validate that card number using the Luhn algorithm described above. You should implement this algorithm yourself.

After removing the checking digit and reversing the card number, you'll need a for loop to go over the credit card numbers. As you go through each digit, you must find a way to determine whether a digit is in an odd or an even position. Remember you can check the model solution if you get stuck!

3) Once the validation is complete, the program should inform the user whether or not the card number is valid by printing a string to the console.

When you need to get to the step where you reverse the numbers you could use the reversed function, which will accept any sequence type:

```
language = "Python"
numbers = [1, 2, 3, 4, 5]
letters = ("a", "b", "c", "d", "e")

language = reversed(language)    # 'nohtyP'
numbers = reversed(numbers)      # [5, 4, 3, 2, 1]
letters = reversed(letters)      # ('e', 'd', 'c', 'b', 'a')
```

reversed will give us back a lazy type (like range), so we can't directly print it; however, it is iterable. We can therefore use the result in a for loop, for example.

If our numbers are in a list, we can use the reverse method. This directly modifies the original list:
```
numbers = [1, 2, 3, 4, 5]
numbers.reverse()

print(numbers)  # [5, 4, 3, 2, 1]
```
You can use whichever technique you prefer.

When testing your solution, you can use your own card number, or you can find valid card numbers online that are used for testing payment methods. For example, Stripe has a range of test card numbers you can use.

In [ ]:
# accept a credit card number
cc_number = input("Enter a credit card number: ")
print(f"Entered CC number is: {cc_number}")
num_list = list(cc_number)
print(f"Credit Card number converted to list: {num_list}\n")

# Luhn algorithm
# 1. Remove the rightmost digit from the card number.
# This number is called the checking digit, and it will be excluded from most of our calculations.
checking_digit = int(num_list.pop())
print(f"1. Removed the rightmost digit from the card number: {checking_digit}\n")

# 2. Reverse the order of the remaining digits.
reversed_num = num_list[::-1]
print(f"2. Reverse the order of the remaining digits: {reversed_num}")

# 3. Take the digits at each of the even indices (0, 2, 4, 6, etc.) and double them.
# If any of the results are greater than 9, subtract 9 from those numbers.
doubled = []
for counter, digit in enumerate(reversed_num):
    if counter % 2 == 0:
        double = int(digit) * 2
        print(f"Doubled the digit at Index {counter}: {double}")
        if double > 9:
            minus_nine = double - 9
            print(f"Since doubled digit is greater than 9 subtracted 9 from it: {minus_nine}")
            doubled.append(minus_nine)
            print(f"Final number appended to list: {doubled}")
        else:
            doubled.append(double)
            print(f"Doubled number less than 9, directly appended to list: {doubled}")
    else:
        doubled.append(int(digit))
        print(f"List appended at odd Index {counter}: {doubled}")

# 4. Add together all of the results and add the checking digit.
sum = 0
for i in doubled:
    sum = sum + int(i)
print(f"Sum of all digits: {sum}")
sum = sum + checking_digit
print(f"Sum of all digits plus checked digit: {sum}")


#5 . If the result is divisible by 10, the number is a valid card number. If it's not, the card number is not valid.
if sum % 10 == 0:
    print("Valid Card Number")

Entered CC number is: 5241810407029925
CC number to list: ['5', '2', '4', '1', '8', '1', '0', '4', '0', '7', '0', '2', '9', '9', '2', '5']
1. Remove the rightmost digit from the card number: 5
2. Reverse the order of the remaining digits: ['2', '9', '9', '2', '0', '7', '0', '4', '0', '1', '8', '1', '4', '2', '5']
0. doubled digit: 4
List double appended: [4]
1. List double appended odd indices: [4, 9]
2. doubled digit: 18
2i. doubled digit minus 9: 9
List minus 9 appended: [4, 9, 9]
3. List double appended odd indices: [4, 9, 9, 2]
4. doubled digit: 0
List double appended: [4, 9, 9, 2, 0]
5. List double appended odd indices: [4, 9, 9, 2, 0, 7]
6. doubled digit: 0
List double appended: [4, 9, 9, 2, 0, 7, 0]
7. List double appended odd indices: [4, 9, 9, 2, 0, 7, 0, 4]
8. doubled digit: 0
List double appended: [4, 9, 9, 2, 0, 7, 0, 4, 0]
9. List double appended odd indices: [4, 9, 9, 2, 0, 7, 0, 4, 0, 1]
10. doubled digit: 16
10i. doubled digit minus 9: 7
List minus 9 appended: [4, 9, 9, 2, 0, 7, 0, 4, 0, 1, 7]
11. List double appended odd indices: [4, 9, 9, 2, 0, 7, 0, 4, 0, 1, 7, 1]
12. doubled digit: 8
List double appended: [4, 9, 9, 2, 0, 7, 0, 4, 0, 1, 7, 1, 8]
13. List double appended odd indices: [4, 9, 9, 2, 0, 7, 0, 4, 0, 1, 7, 1, 8, 2]
14. doubled digit: 10
14i. doubled digit minus 9: 1
List minus 9 appended: [4, 9, 9, 2, 0, 7, 0, 4, 0, 1, 7, 1, 8, 2, 1]
Sum of all digits: 55
Sum of all digits plus checked digit: 60
Valid Card Number

# Day 10

### Dictionaries

Dictionaries are Python's version of something called an associative array, and it works a little differently to the things like lists, strings, and tuples.

`In a single dictionary, each key must be unique, but different dictionaries can have the same keys as each other.`

In [ ]:
# Let's say we're creating a dictionary for a student, and we want to start out with a key and value representing their name:

student = {"name" : "Udit Pathak"}

In [ ]:
# If we want to add multiple keys and values, we have to separate each key value pair using commas.
# For example, let's add a list of grades for this student alongside their name:

student = {
    "name" : "Udit Pathak",
    "grades" : [99, 95, 97, 92, 100]
}

print(student["grades"])

# OR

print(student.get("grades"))

# If we like, we can specify a different default value by passing in a second value to get.
# For example, we can tell it we want an empty list if there isn't a "grade" key:

print(student.get("grade", []))

[99, 95, 97, 92, 100]
[99, 95, 97, 92, 100]
[]

#### Modifying a dictionary

There are three ways we can modify an existing dictionary.

1. We can add new key value pairs;
2. we can modify the values of existing keys;
3. or we can remove a key value pair.

In [ ]:
# adding items to a dictionary
student["age"] = 17

In [ ]:
print(student)

{'name': 'Udit Pathak', 'grades': [99, 95, 97, 92, 100], 'age': 17}

In [ ]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

In [ ]:
meta_info = {
    "runtime": 181,
    "budget": "$356 million",
    "earnings": "$2.798 billion",
    "producer": "Kevin Feige"
}

In [ ]:
movie.update(meta_info)

In [ ]:
# Modifying existing dictionary

print(student)

student["age"] = 18

print(student)

{'name': 'Udit Pathak', 'grades': [99, 95, 97, 92, 100], 'age': 17}
{'name': 'Udit Pathak', 'grades': [99, 95, 97, 92, 100], 'age': 18}

In [ ]:
# deleting items
print(movie)
del movie["runtime"]
print(movie)

{'title': 'Avengers: Endgame', 'directors': ['Anthony Russo', 'Joe Russo'], 'year': 2019, 'runtime': 181, 'budget': '$356 million', 'earnings': '$2.798 billion', 'producer': 'Kevin Feige'}
{'title': 'Avengers: Endgame', 'directors': ['Anthony Russo', 'Joe Russo'], 'year': 2019, 'budget': '$356 million', 'earnings': '$2.798 billion', 'producer': 'Kevin Feige'}

In [ ]:
print(movie)
print(movie.pop("year"))
print(movie)

{'title': 'Avengers: Endgame', 'directors': ['Anthony Russo', 'Joe Russo'], 'year': 2019, 'budget': '$356 million', 'earnings': '$2.798 billion', 'producer': 'Kevin Feige'}
2019
{'title': 'Avengers: Endgame', 'directors': ['Anthony Russo', 'Joe Russo'], 'budget': '$356 million', 'earnings': '$2.798 billion', 'producer': 'Kevin Feige'}

In [ ]:
# iterating over dictionaries
# One thing you need to be aware of when iterating over dictionaries is that by default, we only get the keys
for attribute in movie:
    print(attribute)

for value in movie.values():
    print(value)

# for both key and value we can use item method
for key, value in movie.items():
    print(f"{key} : {value}")

title
directors
budget
earnings
producer
Avengers: Endgame
['Anthony Russo', 'Joe Russo']
$356 million
$2.798 billion
Kevin Feige
title : Avengers: Endgame
directors : ['Anthony Russo', 'Joe Russo']
budget : $356 million
earnings : $2.798 billion
producer : Kevin Feige

### Exercises

1) Below is a tuple describing an album:
```
 (
    "The Dark Side of the Moon",
    "Pink Floyd",
    1973,
    (
        "Speak to Me",
        "Breathe",
        "On the Run",
        "Time",
        "The Great Gig in the Sky",
        "Money",
        "Us and Them",
        "Any Colour You Like",
        "Brain Damage",
        "Eclipse"
    )
 )
```
Inside the tuple we have the album name, the artist (in this case, the band), the year of release, and then another tuple containing the track list.

Convert this outer tuple to a dictionary with four keys.

2) Iterate over the keys and values of the dictionary you create in exercise 1. For each key and value, you should print the name of the key, and then the value alongside it.

3) Delete the track list and year of release from the dictionary you created. Once you've done this, add a new key to the dictionary to store the date of release. The date of release for The Dark Side of the Moon was March 1st, 1973.

If you use a different album for the exercises, update the date accordingly.

4) Try to retrieve one of the values you deleted from the dictionary. This should give you a `KeyError`. Once you've tried this, repeat the step using the `get` method to prevent the exception being raised.

In [ ]:
# 1
album_tuple =  (
    "The Dark Side of the Moon",
    "Pink Floyd",
    1973,
    (
        "Speak to Me",
        "Breathe",
        "On the Run",
        "Time",
        "The Great Gig in the Sky",
        "Money",
        "Us and Them",
        "Any Colour You Like",
        "Brain Damage",
        "Eclipse"
    )
 )

name, artist, year, tracks = album_tuple
album_dict = {}
album_dict["name"] = name
album_dict["artist"] = artist
album_dict["year"] = year
album_dict["tracks"] = tracks

In [ ]:
# 2
for key, value in album_dict.items():
    print(f"{key} : {value}")

name : The Dark Side of the Moon
artist : Pink Floyd
year : 1973
tracks : ('Speak to Me', 'Breathe', 'On the Run', 'Time', 'The Great Gig in the Sky', 'Money', 'Us and Them', 'Any Colour You Like', 'Brain Damage', 'Eclipse')

In [ ]:
# 3
album_dict.pop("year")
album_dict.pop("tracks")
for key, value in album_dict.items():
    print(f"{key} : {value}")


album_dict["date"] = "March 1st, 1973"
for key, value in album_dict.items():
    print(f"{key} : {value}")

name : The Dark Side of the Moon


artist : Pink Floyd


name : The Dark Side of the Moon
artist : Pink Floyd
date : March 1st, 1973

In [ ]:
# 4
print(album_dict["year"]) # will raise a KeyError: 'year' exception

In [ ]:
# 4
print(album_dict.get("year", []))

[]

# Day 11
### Sets